@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<button class="btn btn-danger"
        @onclick="Probar">
    Test
</button>

@code {

    private void Probar()
    {
        Console.WriteLine("FUNCIONA");
    }

}
